.input{
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 20px;
  background-color: rgba(218, 255, 197, 0.589);
  text-align: right;
  font-size: 60px;
  border-radius: 10px;
  min-height: 111px;
}