@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SF-Pro-Display-Light.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'SfProDisplay';
  font-weight: 100;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body {
  height: 100vh;
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}